apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: team-applications
  namespace: argocd
spec:
  goTemplate: true
  generators:
    - git:
        repoURL: 'https://github.com/omri2003/namespace-factory-proj.git'
        revision: main
        files:
          - path: "envs/*/*/*.yaml"
  template:
    metadata:
      # Naming: alpha-myproj-dev
      # We use 'index' safely here because the generator path filter (envs/*/*/*.yaml) 
      # should only return files at that depth.
      name: '{{index .path.segments 2}}-{{.path.filename | trimSuffix ".yaml"}}-{{index .path.segments 1}}'
      annotations:
        argocd.argoproj.io/sync-wave: "-10"
    spec:
      # Naming convetion: project-[team]-[env]
      project: 'project-{{index .path.segments 2}}-{{index .path.segments 1}}'
      source:
        repoURL: 'https://github.com/omri2003/namespace-factory-proj.git'
        targetRevision: main
        path: charts/tenant-namespace
        helm:
          valueFiles:
            - '/{{.path.path}}'
          parameters:
            - name: "env"
              value: '{{index .path.segments 1}}'
            - name: "team"
              value: '{{index .path.segments 2}}'
            - name: "project"
              value: '{{.path.filename | trimSuffix ".yaml"}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{index .path.segments 2}}-{{.path.filename | trimSuffix ".yaml"}}-{{index .path.segments 1}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
