apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: team-applications
  namespace: argocd
spec:
  goTemplate: true
  generators:
    - git:
        repoURL: 'https://github.com/omri2003/namespace-factory-proj.git'
        revision: main
        directories:
          - path: envs/*/*/*
  template:
    metadata:
      name: '{{index .path.segments 1}}-{{index .path.segments 2}}-{{index .path.segments 3}}'
    spec:
      project: 'project-{{index .path.segments 2}}'
      source:
        repoURL: 'https://github.com/omri2003/namespace-factory-proj.git'
        targetRevision: main
        path: '{{.path.path}}'
        kustomize:
          patches:
            - target:
                kind: RoleBinding
                name: team-rolebinding
              patch: |-
                - op: replace
                  path: /subjects/0/name
                  value: {{index .path.segments 2}}
            - target:
                kind: RoleBinding
                name: team-rolebinding
              patch: |-
                - op: replace
                  path: /subjects/1/namespace
                  value: {{index .path.segments 1}}-{{index .path.segments 2}}-{{index .path.segments 3}}
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{index .path.segments 1}}-{{index .path.segments 2}}-{{index .path.segments 3}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
