apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: team-applications
  namespace: argocd
spec:
  goTemplate: true
  generators:
    - git:
        repoURL: 'https://github.com/omri2003/namespace-factory-proj.git'
        revision: main
        directories:
          - path: envs/*/*/*
  template:
    metadata:
      name: '{{index .path.segments 1}}-{{index .path.segments 2}}-{{index .path.segments 3}}'
    spec:
      project: 'project-{{index .path.segments 2}}' 
      source:
        repoURL: 'https://github.com/omri2003/namespace-factory-proj.git'
        targetRevision: main
        path: '{{.path.path}}'
        plugin:
          env:
            - name: ENVIRONMENT
              value: '{{index .path.segments 1}}'
            - name: TEAM_NAME
              value: '{{index .path.segments 2}}'
            - name: PROJECT_NAMESPACE
              value: '{{index .path.segments 1}}-{{index .path.segments 2}}-{{index .path.segments 3}}'
              
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{index .path.segments 1}}-{{index .path.segments 2}}-{{index .path.segments 3}}'
        
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
