apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: team-applications
  namespace: argocd
spec:
  goTemplate: true
  generators:
    - git:
        repoURL: 'https://github.com/omri2003/namespace-factory-proj.git'
        revision: HEAD
        directories:
          - path: envs/*/*/* template:
    metadata:
      name: '{{index .path 1}}-{{index .path 2}}-{{index .path 3}}'
    spec:
      project: '{{index .path 2}}' 
      source:
        repoURL: 'https://github.com/omri2003/namespace-factory-proj.git'
        targetRevision: HEAD
        path: '{{.path.path}}'
        plugin:
          env:
            - name: ENVIRONMENT
              value: '{{index .path 1}}'
            - name: TEAM_NAME
              value: '{{index .path 2}}'
            - name: PROJECT_NAMESPACE
              value: '{{index .path 1}}-{{index .path 2}}-{{index .path 3}}'
              
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{index .path 1}}-{{index .path 2}}-{{index .path 3}}'
        
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
